<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="../js/client.js" defer></script>
    <title> Cloud Typer Home </title>
</head>
<body>
    <h1 class="title">Cloud Typer</h1>
    <div class="container" align="center">
        <input type="button" class='button' id="playButt" value="Play Game" onclick="location.href = './gameIndex.html';">
        <br>
        <br>
        <br>
        <input type="button" class='button' id="leadButt" value="Leaderboard" onclick="location.href = './leaderboard.html';">
        <br>
        <br>
        <br>
        <input type="button" class='button' id="logButt" value="Logout" onclick="location.href = './signout.html';">
    </div>
</body>
</html>