<!DOCTYPE html>

<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Javascript SDK-->
	<title>Cloud Typer Register</title>
	<link rel="stylesheet" href="../css/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
	<script src="../js/register.js" defer></script>
	</head>
	
	<body>
		<div align="center">
			<h1 class="h3 mb-3 font-weight-normal" id="titleheader">Register an Account</h1>
			<br>
			<input type="firstName" class="form-control" id="firstnameInput" placeholder="First Name" pattern=".*" required>
			<br>
			<input type="lastname" class="form-control" id="lastnameInput" placeholder="Last Name" pattern=".*" required>
			<br>
			<input type="email" class="form-control" id="emailInput" placeholder="Email" pattern=".*" required>
			<br>
			<input type="password" class="form-control" id="passwordInput" placeholder="Password" pattern=".*" required>
			<br>
			<input type="password" class="form-control" id="confirmpassInput" placeholder="Confirm Password" pattern=".*" required>
			<br>
			<br>
			<br>
			<input type="button" id="registerButt" class="button" value="Register" ></button>

		</div>
	</body>
  
</html>